
body{
    font-family: 'Courier New', monospace;
    color: plum;
}

header{
    height: 100px;
    background: #598978;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: block;
    list-style-type: none ;
    text-align: center;
}

ul li a{
    display: block;
    margin: 10px;
}

a:link, a:visited {
    background-color:#598978;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  

h1{
    font-size: 25px;
    text-align: center;
}

