body{
    font-family: 'Courier New', monospace;
}

header{
    height: 100px;
    background: #598978;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none ;
}

ul li a{
    padding: 0 25px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

a:link, a:visited {
    background-color:#598978;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.container{
    width: 100%;
    text-align: center;
}

.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    align-content: center;
}

.pic{
    position: relative;
    height: 400px;
}

.pic img{
    padding: 10%;
    width: 90%;
    height: 100%;
}

main h2{
    font-size: 30px;
    color: black;
}

main h1{
    font-size: 54px;
    color: plum;
    font-weight: 400;
    letter-spacing: 8px;
}


